<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(rel="stylesheet",href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300|Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    link(rel="stylesheet", href="css/main.css")
    title Undergraduate Program in Economics -  | XYZ University   
  body
    header
      .container
        .logo
          img.img-responsive(src="http://placehold.it/200x50?text=Logo", alt="XYZ University Logo")
        .search
          input(type="search", placeholder="Buscar en en el sitio")
          input(type="submit", value="Buscar").btn
    nav(id="navigation").main-nav
      .nav-item.main-nav--item: a(href="#") Institution <i class="ion-arrow-down-b"></i>
      .nav-item.main-nav--item: a(href="#") Research
      .nav-item.main-nav--item: a(href="#") Undergraduate <i class="ion-arrow-down-b"></i>
      .nav-item.main-nav--item: a(href="#") News <i class="ion-arrow-down-b"></i>
      .nav-item.main-nav--item: a(href="#") Virtual <i class="ion-arrow-down-b"></i>
      .nav-item.main-nav--item: a(href="#") Costs
      .nav-item.main-nav--item.last: a(href="#") Students
    section#hero
      .container
        .course
          .course--title
            h2 Economics
          .course--scenario
            span On Campus
          .course--short-description
            span Integral Professionals that are able to manage big projects in International or National Economics as well as anylizing the stock Exchange 
          .more
            .more--info
              a(href="#").btn.btn--hero More Information
            .more--signup
              a(href="#").btn.btn--hero Register
    
    section#course-content
      .container
        .main-info
          .breadcrumb
            span <a href="#">Home</a> >
            span <a href="#">Undergraduate Programs</a> >
            span Economics - On Campus
          section(id="navigation").course-nav
            .nav-item.course-nav--item.active: a(href="#") General Information
            .nav-item.course-nav--item: a(href="#") Competencies
            .nav-item.course-nav--item: a(href="#") Profile
            .nav-item.course-nav--item: a(href="#") Benefits
            .nav-item.course-nav--item: a(href="#") Curriculum
            .nav-item.course-nav--item.last: a(href="#") Director's Message
          
          .main-info--container
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cvq0VgDNwEg" frameborder="0" allowfullscreen></iframe>
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In nam error quis, nulla dicta velit eius deserunt vel quaerat explicabo tenetur, voluptatem officia culpa ducimus beatae praesentium. Consequatur officiis, nemo. 
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi corporis hic impedit placeat dolores eveniet quibusdam consectetur sed alias, unde similique, vero incidunt numquam culpa pariatur cumque voluptatem tenetur? Provident.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam blanditiis nesciunt, totam animi quam sit rem! Porro inventore aliquam, architecto cum necessitatibus, accusantium repudiandae distinctio amet dolores, quaerat sapiente odio.
        .news
          .news-item
            img.img-responsive.center(src="http://placehold.it/150x150?text=Imagen+de+la+Noticia", alt="News Image").news-item--img
            h3.news-item--title Students win the ABC prize at the 19th International Economics Congress
            p.news-item--description In the nineteenth edition of the Master Education, XYZ University students won the Innovation Award in ...
              span.news-item--description.read-more <a href="#">Read More...</a>
          .news-item
            img.img-responsive.center(src="http://placehold.it/150x150?text=Imagen+de+la+Noticia", alt="News Image").news-item--img
            h3.news-item--title Economics Undergraduate Program's Director inagurates laboratory
            p.news-item--description On April 20, the program director, Juan Perez, opened in the northern headquarters the new Economics lab which includes...
              span.news-item--description.read-more <a href="#">Read More...</a>             
          .news-item
            img.img-responsive.center(src="http://placehold.it/150x150?text=Imagen+de+la+Noticia", alt="News Image").news-item--img
            h3.news-item--title Economics Undergraduate Program's Director inagurates laboratory
            p.news-item--description On April 20, the program director, Juan Perez, opened in the northern headquarters the new Economics lab which includes...
              span.news-item--description.read-more <a href="#">Read More...</a>
    footer
      .container
        .footer--logo
          img.img-responsive(src="http://placehold.it/100x100?text=Logo", alt="XYZ University Logo")          
        .footer--info
          <address>XYZ University <br>Head Office: 308 Negra Arroyo Lane<br>Telephone: 018000 909090<br>contact@xyzuniversity.com</address>
          p 
            a(href="#"): i.ion-social-facebook
            a(href="#"): i.ion-social-twitter
            a(href="#"): i.ion-social-linkedin
      .footer--copy
        .container
          p &copy; XYZ University
