.container
  margin: 0 auto
  width: 90%
  max-width: 1200px

header .container,
#navigation ,
#hero .container,
#course-content .container,
footer .container
  display: flex


/* COURSE CONTENT ************************/

#course-content
  padding: 20px 0 80px

.main-info, .news
  padding: 0 10px

.main-info
  width: 80%
  p
    line-height: 1.6
.news
  width: 20%
