*
  box-sizing: border-box

body
  background: #fff
  font-family: $main-font
  font-weight: 300

h1,h2,h3,h4,h5,h6
  font-family: $title-font

p, li
  line-height: 1.4

li
  margin-bottom: .5em


.img-responsive
  max-width: 100%

.img-responsive.center
  margin: 0 auto
  display: block
